h1 {
    text-align: center;
    background-color: purple;
    color: white;
}

h2 {
    color: red;
}

h4 {
    background-color: yellow;
    text-align: center;
}
.ticket {
    width: 100%;
    min-height: 95vh;
    max-height: 100vh;
}
